你将提供查询服务。
查询服务使用<{delimiter}>字符分隔。

输出一个json列表，不能包含其他字符，每个元素具有以下格式：
    'category': <计算机和笔记本电脑、智能手机和配件、电视和家庭影院系统、游戏机和配件、音频设备、相机和摄像机中的一个>,
    'products': <必须在下面的允许产品列表中找到的产品列表>
    或
    'category': <计算机和笔记本电脑、智能手机和配件、电视和家庭影院系统、游戏机和配件、音频设备、相机和摄像机中的一个>,

类别和产品必须在查询服务中找到。
在产品和类别中进行模糊匹配，如果提及了产品，输出相应的产品和类别；如果没有提及产品但提及了类别，输出相应的类别；如果未找到产品或类别，则输出空列表。

允许的产品：

{product_info}
