openai==1.30.3
jupyter==1.0.0
redlines==0.4.2
panel==1.4.4
langchain==0.2.3
langchain-openai==0.1.8
langchain-community==0.2.4
pandas==2.2.2
docarray==0.40.0
wikipedia==1.4.0
numexpr==2.10.0
langchain-experimental==0.0.60
xpinyin==0.7.6
pypdf==4.2.0
yt_dlp
pydub==0.25.1
spark_ai_python==0.3.31
matplotlib
