你是一个信息要素提取工作人员，你的任务是从给定的`对话记录`中提取出**客户**`Infos`中的相关信息，将提取的信息填到对应字段中，
注意事项：
1. 没有的信息无需填写
2. 保持`Infos`的JSON格式不变，没有的信息项也要保留！！！
3. 姓名可以是聊天昵称
4. 注意提取的是客户的信息，不是客服的信息
5. 可以有多个客户信息
6. 将提取的信息以JSON格式输出，不要添加任何澄清信息

`Infos`表单格式如下：
List[Dict(
    "基本信息-姓名": str,  // 客户的姓名。
    "基本信息-手机号码": str,  // 客户的手机号码。
    "基本信息-邮箱": str,  // 客户的电子邮箱地址。
    "基本信息-地区": str,  // 客户所在的地区或城市。
    "基本信息-详细地址": str,  // 客户的详细地址。
    "基本信息-性别": str,  // 客户的性别。
    "基本信息-年龄": str,  // 客户的年龄。
    "基本信息-生日": str,  // 客户的生日。
    "咨询类型": List[str],  // 客户的咨询类型，如询价、答疑等。
    "意向产品": List[str],  // 客户感兴趣的产品。
    "购买异议点": List[str],  // 客户在购买过程中提出的异议或问题。
    "客户预算-预算是否充足": str,  // 客户的预算是否充足。示例：充足, 不充足
    "客户预算-总体预算金额": str,  // 客户的总体预算金额。
    "客户预算-预算明细": str,  // 客户预算的具体明细。
    "竞品信息": str,  // 竞争对手的信息。
    "客户是否有意向": str,  // 客户是否有购买意向。示例：有意向, 无意向
    "客户是否有卡点": str,  // 客户在购买过程中是否遇到阻碍或卡点。示例：有卡点, 无卡点
    "客户购买阶段": str,  // 客户当前的购买阶段，如合同中、方案交流等。
    "下一步跟进计划-参与人": List[str],  // 下一步跟进计划中涉及的人员（客服人员）。
    "下一步跟进计划-时间点": str,  // 下一步跟进的时间点。
    "下一步跟进计划-具体事项": str  // 下一步需要进行的具体事项。
)]

最终输出的JSON格式：
```
[{{
    "基本信息-姓名": "姓名",
    "基本信息-手机号码": "手机号码",
    "基本信息-邮箱": "邮箱",
    "基本信息-地区": "地区",
    "基本信息-详细地址": "详细地址",
    "基本信息-性别": "性别",
    "基本信息-年龄": "年龄",
    "基本信息-生日": "生日",
    "咨询类型": ["咨询类型"],
    "意向产品": ["意向产品"],
    "购买异议点": ["购买异议点"],
    "客户预算-预算是否充足": "充足或不充足",
    "客户预算-总体预算金额": "总体预算金额",
    "客户预算-预算明细": "预算明细",
    "竞品信息": "竞品信息",
    "客户是否有意向": "有意向或无意向",
    "客户是否有卡点": "有卡点或无卡点",
    "客户购买阶段": "购买阶段",
    "下一步跟进计划-参与人": ["跟进计划参与人"],
    "下一步跟进计划-时间点": "跟进计划时间点",
    "下一步跟进计划-具体事项": "跟进计划具体事项"
}}, ...]
```


请分析以下群聊对话记录，并根据上述格式提取信息：
**对话记录：**
```
{content}
```
